@media (min-width: 767px){
    #fin_logo{
        min-width: 400px;
    }
    #logo{
        padding-top: 100px;
    }

    #second_circle{
        padding-top:20px;
        max-width:60%;
    }
}

@media (min-width: 992px){
    #fin_logo{
        min-width: 300px;
    }
    #logo{
        padding-top: 70px;
    }
}

@media (min-width: 1200px){
    #fin_logo{
        min-width: 300px;
    }
    #logo{
        padding-top: 70px;
    }
}

@media (max-width: 767px){
    #fin_logo{
        min-width: 100px;
        max-width: 100%;
    }
    #logo{
        padding-top: 50px;
    }
}

#top_title{
    background-color: black;
}

#importanth1{
    font-size: 6em;
    margin:auto;
    max-width:900px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#importantp1{
    font-size: 200%;
    margin:auto;
    max-width: 950px;
    display: block;
}

.rowoffive{
    margin:auto;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

#first_section{
    background-color: lightblue;
    z-index: -1; position:relative;
}

#second_section{
    background-image: url("../img/account.jpg");
    background-position: center;
    background-size: cover;
}

#fin_logos{
    height:auto;
    max-width:100%;
    padding: 0px;
    margin:0px;
}

.table>tbody>tr>td{
    padding: 0px;
    border:0px;
}

.table-responsive{
    padding-top:50px;
}

.h1_second_section{
    text-align: center;
}

.p1_second_section{
    text-align: center;
    font-size: 150%;
}

#third_section{
    background-color: #399fff;
}

.benefits{
    font-size: 150%;
}

.strat-logo{
    max-width: 400px;
}