@font-face {
    font-family: "Raleway-Light";
    src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf");
}

/* ----------- TOP BAR ---------------*/
#top_bar{
    background-color: black;
    height:100px;
    box-shadow: 10px 0px 10px #000000;
}

.menu{
    padding-top: 30px;
}

dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-default{
    background-color:black
}

.btn-lg{
    color: white;
    border-radius: 0;
}

#UCL_logo{
    height:100px;
}

#page_title{
    color:white;
    font-size: 400%;
    font-family: 'Raleway-SemiBold', Arial, sans-serif;
}
/*---------------------------------*/

#res_section{
    background-color: lightskyblue;
}

.rlist{
    padding-left:30px;
}