#top_bar{
    background-color: black;
    height:100px;
}

#UCL_logo{
    height:100px;
}

@media (min-width: 767px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}

@media (max-width: 767px){
    
}